:root{
    --amarelo: #ffd21f;
}

body {
  height: 100vh;

  background-image: url("../Img/Hogwarts.webp");
  background-size: cover;
  background-position: center;

  position: relative;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #a020f0;
  font-size: 60px;
  margin-top: 40px;
}

.divSenha{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 10px;
}

input{
    background-color: whitesmoke;
    border-radius: 40px;
    width: 250px;
    border: none;
    padding: 0 15px;
}

.envio{
    background-color: var(--amarelo);
    width: 220px;
    height: 70px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}

.dicaBtn{
    background-color: var(--amarelo);
    width: 220px;
    height: 70px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.dicaCaixa{
    position: absolute;
    bottom: 40px;
    right: 20px;

    background: rgba(0,0,0,0.7);
    color: white;
    padding: 15px;
    border-radius: 10px;

    display: none;
}