:root{
    --amarelo: #ffd21f;
}

body {
  height: 100vh;

  background-image: url("../Img/Hogwarts.webp");
  background-size: cover;
  background-position: center;

  position: relative;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #a020f0;
  font-size: 60px;
  margin-top: 40px;
}

input{
    background-color: whitesmoke;
    border-radius: 40px;
}

.envio{
    background-color: var(--amarelo);
    width: 220px;
    height: 70px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}

.dica{
    background-color: var(--amarelo);
    width: 220px;
    height: 70px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}

.menu{
    background-color: var(--amarelo);
    width: 220px;
    height: 70px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}